.TodoForm {
  .input-group {
    .btn {
      height: 50px;
      margin: 0;
      &:hover {
        transform: none;
        box-shadow: none;
      }
    }
    .input-group-append {
      border-left: none;
      margin-left: -5px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      max-height: 51.58px;
      -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
      transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
      transition-property: color, border-color, background-color;
      transition-duration: 0.3s, 0.3s, 0.3s;
      transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
      transition-delay: 0s, 0s, 0s;
    }
    .form-control {
      &:focus + .input-group-append {
        border-color: $primary;
        
      }
    }
  }
}